<app-toolbar caption="Details" (back)="goBack()">
  <div *ngIf="activity">
    <div class="icons">
      <button mat-icon-button [disabled]="status.pending" *ngIf="activity.done" (click)="toggleDone()"
        matTooltip="Undo">
        <mat-icon>undo</mat-icon>
      </button>
      <button mat-icon-button [disabled]="status.pending" *ngIf="!activity.done" (click)="toggleDone()"
        matTooltip="Done">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button [disabled]="status.pending" routerLink="/activity/{{ activity.id }}/edit"
        matTooltip="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button [disabled]="status.pending" (click)="deleteActivity()" matTooltip="Delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <div class="expressed">
      <button mat-flat-button [disabled]="status.pending" *ngIf="activity.done" (click)="toggleDone()">Undo</button>
      <button mat-flat-button [disabled]="status.pending" *ngIf="!activity.done" (click)="toggleDone()">Done</button>
      <button mat-flat-button [disabled]="status.pending" routerLink="/activity/{{ activity.id }}/edit">Edit</button>
      <button mat-flat-button color="warn" [disabled]="status.pending" (click)="deleteActivity()">Delete</button>
    </div>
  </div>
</app-toolbar>

<!-- Loading Animation -->
<app-placeholder *ngIf="status.loading"></app-placeholder>

<!-- 404 Error Message -->
<app-placeholder icon="warning" [rotating]="false" *ngIf="status.notFound">
  Activity Not Found
</app-placeholder>

<!-- Generic Backend Error Message -->
<app-placeholder icon="error" [rotating]="false" *ngIf="status.error">
  Sorry, something went wrong while talking to the server. Please try again later.
</app-placeholder>

<div class="app-body" *ngIf="activity">
  <!-- Primary information like name and description -->
  <mat-card>
    <h3 class="name no-overflow">{{ activity?.name }}</h3>
    <p class="organization no-overflow">
      <span [ngClass]="{
        'priority-low': activity.getPriority() === 1,
        'priority-mid': activity.getPriority() === 2,
        'priority-high': activity.getPriority() === 3
      }">
        {{ activity.getExpressedPriority() }}
      </span>
      <span *ngIf="activity.category"> &ndash; {{ activity?.category }}</span>
    </p>
    <p class="description">{{ activity?.description }} </p>
  </mat-card>

  <!-- Time and location -->
  <h5 class="card-title">Where & When</h5>
  <mat-card>
    <p class="no-overflow">
      <mat-icon matTooltip="Location">place</mat-icon>
      <span>{{ activity.location }}</span>
    </p>
    <p>
      <mat-icon matTooltip="Date & Time">event</mat-icon>
      <span>{{ getFormattedDateTime(activity?.startDate) }} &ndash; {{ getFormattedDateTime(activity?.endDate) }}</span>
    </p>
  </mat-card>

  <!-- List of participants -->
  <div *ngIf="activity.participants">
    <h5 class="card-title">Who</h5>
    <mat-card>
      <mat-list>
        <mat-list-item class="person" *ngFor="let person of activity.participants">
          <mat-icon>person</mat-icon>
          <span class="no-overflow">{{ person }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>

  <!-- Timestamps and holiday -->
  <h5 class="card-title">Information</h5>
  <mat-card>
    <p *ngIf="activity.holiday">
      <mat-icon matTooltip="Holiday">cake</mat-icon>
      <span>{{ activity?.holiday }}</span>
    </p>
    <p>
      <mat-icon matTooltip="Updated At">edit</mat-icon>
      <span>{{ getFormattedDateTime(activity?.updatedAt) }}</span>
    </p>
    <p>
      <mat-icon matTooltip="Created At">add</mat-icon>
      <span>{{ getFormattedDateTime(activity?.createdAt) }}</span>
    </p>
  </mat-card>
</div>
