.expressed button {
  margin-left: 0.5rem;
}

@media screen and (max-width: 500px) {
  app-toolbar .expressed {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  app-toolbar .icons {
    display: none;
  }
}

p mat-icon,
p mat-icon + span {
  vertical-align: middle;
}

mat-icon + span {
  margin-left: 0.5rem;
}

mat-list {
  padding: 0;
}

mat-list .person {
  height: initial;
}

mat-list .person:not(:last-of-type) {
  padding-bottom: 1em;
}

h5.card-title {
  color: #9e9e9e;
  font-size: 0.6rem;
  margin: 1rem 0 0.3rem 0.5rem;
  font-weight: normal;
}

h3.name {
  margin-bottom: 0;
}

.organization {
  margin: 3px 0;
  font-size: 0.6rem;
  color: #9e9e9e;
}

.description {
  margin-top: 0.5rem;
}

.priority-low {
  color: #4073D6;
}

.priority-mid {
  color: #F49C18;
}

.priority-high {
  color: #DE4C4A;
}
