div {
  text-align: center;
  color: #9e9e9e;
  margin: 3rem auto 0 auto;
  max-width: 400px;
}

mat-icon {
  font-size: 5rem;
  width: auto;
  height: auto;
}

p {
  margin: 0;
}

mat-icon.rotating {
  -webkit-animation: Rotate 1s linear infinite;
  animation: Rotate 1s linear infinite;
}

@-webkit-keyframes Rotate {
  75% {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(180deg);}
}

@keyframes Rotate {
  75% {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(180deg);}
}
