<mat-tab-group mat-stretch-tabs>
  <!-- Future Activities-->
  <mat-tab>
    <ng-template mat-tab-label>
      <span matBadge="{{ activities.length }}" matBadgeOverlap="false">Future</span>
    </ng-template>
    <mat-action-list role="list" *ngFor="let activity of activities">
      <button mat-list-item class="activity" routerLink="/activity/{{ activity.id }}">
        <app-activity [activity]="activity"></app-activity>
      </button>
    </mat-action-list>

    <!-- Empty list placeholder -->
    <app-placeholder *ngIf="activities.length === 0 && !status.loading.future && !status.error.future"
      icon="inbox" [rotating]="false">
      You don't have any activities planned for the future! Go ahead and create a new one.
    </app-placeholder>

    <!-- Generic Backend Error Message -->
    <app-placeholder icon="error" [rotating]="false" *ngIf="status.error.future">
      Sorry, something went wrong while talking to the server. Please try again later.
    </app-placeholder>

    <!-- Loading Animation -->
    <app-placeholder *ngIf="status.loading.future"></app-placeholder>
  </mat-tab>

  <!-- Past Activities -->
  <mat-tab>
    <ng-template mat-tab-label>
      <span matBadge="{{ pastActivities.length }}" matBadgeOverlap="false">Past</span>
    </ng-template>
    <mat-action-list role="list" *ngFor="let activity of pastActivities">
      <button mat-list-item class="activity" routerLink="/activity/{{ activity.id }}">
        <app-activity [activity]="activity"></app-activity>
      </button>
    </mat-action-list>

    <!-- Empty list placeholder -->
    <app-placeholder *ngIf="pastActivities.length === 0 && !status.loading.past && !status.error.past"
      icon="inbox" [rotating]="false">
      You don't have any past activities.
    </app-placeholder>

    <!-- Generic Backend Error Message -->
    <app-placeholder icon="error" [rotating]="false" *ngIf="status.error.past">
      Sorry, something went wrong while talking to the server. Please try again later.
    </app-placeholder>

    <!-- Loading Animation -->
    <app-placeholder *ngIf="status.loading.past"></app-placeholder>
  </mat-tab>
</mat-tab-group>
