div {
  display: flex;
  border-radius: 4px;
  background-color: white;
  padding: 1rem 1rem 1rem 0.8rem;
  border-left: 6px transparent solid;
}

.name {
  margin-right: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.category {
  max-width: 12rem;
}

.date,
.category {
  white-space: nowrap;
}

.category,
.participants {
  margin-right: 1rem;
  color: #9e9e9e;
}

.info {
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
}

.participants .icon {
  font-size: 1rem;
  display: inherit;
  height: auto;
  width: auto;
}

.priority-low {
  border-left-color: #4073D6;
}

.priority-mid {
  border-left-color: #F49C18;
}

.priority-high {
  border-left-color: #DE4C4A;
}

@media screen and (max-width: 500px) {
  .category,
  .participants {
    display: none;
  }
}
