<div class="mat-card-shadow" [ngClass]="{
  'priority-low': activity.getPriority() === 1,
  'priority-mid': activity.getPriority() === 2,
  'priority-high': activity.getPriority() === 3
}">
  <span class="name no-overflow">{{ activity.name }}</span>
  <span class="spacer"></span>

  <span class="info">
    <span class="category no-overflow" *ngIf="activity.category">{{ activity.category }}</span>
    <span class="participants" *ngIf="activity.participants">
      <mat-icon class="icon" matTooltip="{{ getParticipants() }}">group</mat-icon>
    </span>
    <span class="date">{{ getFormattedStartDate() }}</span>
  </span>
</div>
