<form #form="ngForm" (change)="validate(form)">
  <app-toolbar caption="{{ id ? 'Edit' : 'Add' }}" (back)="goBack()" [confirmBack]="form.dirty">
    <div *ngIf="activity">
      <div class="icons">
        <button mat-icon-button [disabled]="status.pending || !status.valid" (click)="saveActivity()"
          matTooltip="Save">
          <mat-icon>save</mat-icon>
        </button>
      </div>

      <div class="expressed">
        <button mat-flat-button [disabled]="status.pending || !status.valid" (click)="saveActivity()">
          Save
        </button>
      </div>
    </div>
  </app-toolbar>

  <!-- Loading Animation -->
  <app-placeholder *ngIf="status.loading"></app-placeholder>

  <!-- 404 Error Message -->
  <app-placeholder icon="warning" [rotating]="false" *ngIf="status.notFound">
    Activity Not Found
  </app-placeholder>

  <!-- Generic Backend Error Message -->
  <app-placeholder icon="error" [rotating]="false" *ngIf="status.error">
    Sorry, something went wrong while talking to the server. Please try again later.
  </app-placeholder>

  <div class="app-body" *ngIf="activity">
    <!-- Primary information like name and description -->
    <mat-card>
      <mat-form-field class="name full-width">
        <input matInput name="name" [(ngModel)]="activity.name" required placeholder="Title">
      </mat-form-field>

      <div class="organization">
        <mat-form-field>
          <mat-label>Priority</mat-label>
          <mat-select name="priority" [(ngModel)]="input.priority" required>
            <mat-option value="0">None</mat-option>
            <mat-option class="priority-low" value="1">Low</mat-option>
            <mat-option class="priority-mid" value="2">Medium</mat-option>
            <mat-option class="priority-high" value="3">High</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput name="category" [(ngModel)]="activity.category" placeholder="Category">
        </mat-form-field>
      </div>

      <mat-form-field class="full-width">
        <textarea matInput name="description" [(ngModel)]="activity.description" required
          placeholder="Description">
        </textarea>
      </mat-form-field>
    </mat-card>

    <!-- Time and location -->
    <h5 class="card-title">Where & When</h5>
    <mat-card>
      <div class="location">
        <mat-icon matTooltip="Location">place</mat-icon>
        <mat-form-field>
          <input matInput name="location" [(ngModel)]="activity.location" required
            placeholder="Location">
        </mat-form-field>
      </div>

      <div class="schedule">
        <!-- Start date and time-->
        <mat-icon matTooltip="Start Date & Time">today</mat-icon>
        <mat-form-field>
          <input matInput name="startDate" type="date" max="{{input.endDate}}"
            [(ngModel)]="input.startDate" required placeholder="Start Date">
          <span class="mat-form-field-subscript-wrapper mat-error" *ngIf="status.dateError">
            Start can't be after end
          </span>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="startTime" type="time" [(ngModel)]="input.startTime"
            placeholder="Start Time">
        </mat-form-field>

        <!-- End date and time -->
        <mat-icon matTooltip="End Date & Time">event</mat-icon>
        <mat-form-field>
          <input matInput name="endDate" type="date" [(ngModel)]="input.endDate" required
            placeholder="End Date">
          <span class="mat-form-field-subscript-wrapper mat-error" *ngIf="status.dateError">
            End can't be before start
          </span>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="endTime" type="time" [(ngModel)]="input.endTime"
            placeholder="End Time">
        </mat-form-field>
      </div>
    </mat-card>

    <!-- List of participants -->
    <h5 class="card-title">Who</h5>
    <mat-card>
      <mat-list>
        <!-- List of existing participants (read only) -->
        <mat-list-item class="person" *ngFor="let person of activity.participants;
          let index = index;trackBy:trackByIndex;">
          <mat-icon>person</mat-icon>
          <mat-form-field class="full-width">
            <input matInput name="person" [value]="person" disabled placeholder="Participant">
          </mat-form-field>
          <button mat-icon-button [disabled]="status.pending" (click)="removeParticipant(index)"
            matTooltip="Remove Participant">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-list-item>

        <!-- Input for new participants -->
        <mat-list-item class="person">
          <mat-icon>person</mat-icon>
          <mat-form-field class="new-participant full-width">
            <input matInput name="newPerson" [(ngModel)]="input.newParticipant"
              placeholder="New Participant">
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="addParticipant()"
            [disabled]="status.pending || !input.newParticipant">
            Add
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</form>
