.expressed button {
  margin-left: 0.5rem;
}

@media screen and (max-width: 500px) {
  app-toolbar .expressed {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  app-toolbar .icons {
    display: none;
  }
}

mat-icon + mat-form-field {
  margin-left: 0.5rem;
}

mat-list {
  padding: 0;
}

mat-list .person {
  height: initial;
}

h5.card-title {
  color: #9e9e9e;
  font-size: 0.6rem;
  margin: 1rem 0 0.3rem 0.5rem;
  font-weight: normal;
}

.full-width {
  width: 100%;
}

.name {
  font-weight: bold;
  font-size: 1.17em;
}

.organization {
  display: grid;
  grid-template-columns: 25% 70%;
  grid-column-gap: 5%;
}

@media screen and (max-width: 500px) {
  .organization {
    grid-template-columns: 40% 55%;
  }
}

.schedule {
  display: grid;
  grid-template-columns: 24px repeat(2, calc(50% - 12px));
  align-items: center
}

.schedule mat-form-field:nth-of-type(2n) {
  padding-left: 10%;
}

.location {
  display: grid;
  grid-template-columns: 24px calc(100% - 24px);
  align-items: center;
}

.new-participant {
  margin-right: 1rem
}

.mat-form-field-subscript-wrapper {
  margin-top: 23px;
}

.priority-low {
  color: #4073D6 !important;
}

.priority-mid {
  color: #F49C18 !important;
}

.priority-high {
  color: #DE4C4A !important;
}

mat-option {
  color: inherit !important;
}
