/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  background-color: #FAFAFA;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-shadow {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
    0 1px 1px 0 rgba(0,0,0,.14),
    0 1px 3px 0 rgba(0,0,0,.12);
}

app-activity-list .mat-list-item-content,
app-activity-detail .mat-list-item-content,
app-activity-edit .mat-list-item-content {
  padding: 0 !important;
  height: initial !important;
}

.app-body {
  padding: 70px 10px 10px 10px;
  margin: 0 auto;
  max-width: 700px;
}

.no-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-tab-body {
  height: fit-content;
}

div.mat-tab-body-content {
  padding: 1px;
  overflow-x: hidden;
}

.center > .mat-simple-snackbar {
  justify-content: center;
}
