<mat-toolbar color="primary" role="toolbar" [ngClass]="{'withBackButton': back.observers.length}">
  <button mat-icon-button (click)="goBack()" *ngIf="back.observers.length">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ caption }}</span>
  <span class="spacer"></span>

  <!-- Passed children will be displayed on the right -->
  <ng-content></ng-content>
</mat-toolbar>
