mat-toolbar {
  height: 56px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0 rgba(0,0,0,.12);
  position: fixed;
  top: 0;
  z-index: 100;
}

mat-toolbar.withBackButton {
  padding-left: 5px;
}

.spacer {
  flex: 1 1 auto;
}
