<app-toolbar caption="Dashboard">
  <button mat-icon-button [disabled]="status.downloading" (click)="downloadAll()"
    matTooltip="Export all activities as CSV">
    <mat-icon>cloud_download</mat-icon>
  </button>
  <button mat-flat-button routerLink="/activity/new">New Activity</button>
</app-toolbar>

<div class="app-body">
  <app-activity-list></app-activity-list>
</div>
